/* entire page */

* {
    margin: 0;
}

body {
    background-color: #EDF5E1;
}
.main-heading {
    display: flex;
    justify-content: center;
    background-color: #5CDB95;
    padding: 1em;
    font-size: 2.8em;
    letter-spacing: .4em;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: #05386B;
    text-shadow: 3px 1.5px #EDF5E1; 
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #05386B;
    border-top: #EDF5E1 dotted .1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-link {
    display: block;
    font-size: .8em;
    list-style-type: none;
    color: #EDF5E1;
    font-family: Arial, Helvetica, sans-serif;
    padding: .8em;
    text-align: center;
    text-decoration: none;
}

.nav-link.active,
.nav-link:hover {
    color: #5CDB95;
}

.nav-link > a:visited {
    color: #EDF5E1;
}

.nav-link:hover a {
    color: #5CDB95;
}
footer {
    background-color: #05386B;
    display: block;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    border-top: #EDF5E1 dotted .1em;
}


/*Begin Ken's CSS*/

#slide-show {
    display: flex;
    justify-content: center;
}

.fling-minislide {width:500px; height:500px; overflow:hidden; position: relative; border-radius: 10em;}
.fling-minislide img{position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}

#personal-life {

}

.videos {
    margin: 50px 0px 100px 0px;

}

/* News Feed */

.newsFeed {
    display: flex;
    align-items: left;
    margin: 45px;
    padding: 5px;
}

.calendar {

    font-family: verdana,arial,sans-serif;
    font-size:14px;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
    display: flex;
    justify-content: flex-end;
}

.calendar  tr {
    background:#b5cfd2 url('cell-blue.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid 4px;
    border-color: #6bca80;
    
}

.calendar td {
    background-image:url(/img/WW3.jpg) 50px;
    border-width: 2.1px;
    padding: 8px;
    border-style: solid;
    border-color: #05386B;
    margin: 100px;

}

h2 {
    text-align: center;
    text-shadow: .5px .5px 3px #5CDB95;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
} 

.gallery {
    text-align: center;
}

table {
    margin: 45px;
    box-shadow: 1px 1px 3px #05386B;
    
}
a:visited {
    color: #05386B;
    
}
a:hover {
    color: #5CDB95;
    
}

.bigImg {
    margin: 185px;
    box-shadow: 1px 1px 3px #05386B;
}

/* summary.html */


.main-img {
    display: block;
    margin: auto;
    width: 60%;
    padding-top: 1.7em;
    border-radius: 10em;
}

.header-medium {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #05386B;
    font-size: 2em;
    padding-top: 1em;
}

.header-caption {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #05386B;
    font-style: italic;
}

.aliases {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    width: 100%;
    padding: 8em 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    color: #05386B;
    text-shadow: #5CDB95 5px 5px;
}

.collab-list {
    border: dotted #05386B 8px;
    padding: 8em;
    margin: 6em;
}

.collabs {
    width: 12em;
    border-radius: 10em;
    border: solid #5CDB95 5px;
}

.collab-list > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    list-style-type: none;
    color: #05386B;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3em;
}
